# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Env
.env
*.env.local

# Models (trop lourds pour git)
backend/models/*.pkl

# Data temporaire
data/cot_history.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
